[Unit]
Description=Start Trading Bot Service
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl start trading-bot.service
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
